<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual de Máquinas</title>
    <style>
        .expandable-list {
            list-style-type: none;
            padding: 0;
        }
        .expandable-list li {
            margin: 5px 0;
        }
        .nested {
            display: none;
            list-style-type: none;
            padding-left: 20px;
        }
        .toggle-button {
            cursor: pointer;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Manual de Máquinas</h1>

    <input type="text" id="searchQuery" placeholder="Pesquise umá máquina ou defeito." name="q">

    <label for="opcoes-setores">Selecione um Setor</label>
    <select name="opcoes-setores" id="opcoes-setores">
        <option value=""></option>
        <% if (manualMaqs && manualMaqs.length > 0) { %>
            <% manualMaqs.forEach (setor => { %>
                <option value="<%= setor.nome %>"><%= setor.nome %></option>
            <% }) %>
        <% } %>
    </select>
    <label for="opcoes-maquinas">Selecione uma Máquina</label>
    <select name="opcoes-maquinas" id="opcoes-maquinas">
        <option value=""></option>
        <% if (manualMaqs && manualMaqs.length > 0) { %>
            <% manualMaqs.forEach (setor => { %>
                <% if (setor.Maquinas && setor.Maquinas.length > 0) {%>
                    <% setor.Maquinas.forEach(maquina => { %>
                        <option value="<%= maquina.nome %>"><%= maquina.nome %></option>
                    <% }) %>
                <% } %>
            <% }) %>
        <% } %>
    </select>

    <div class="results">
        <% if (manualMaqs && manualMaqs.length > 0) { %>
                <% manualMaqs.forEach (setor => { %>
                    <div class="resultRow">
                            <h1><%= setor.nome %></h1>
                        
                        <% if (setor.Maquinas && setor.Maquinas.length > 0) { %>
                            <% setor.Maquinas.forEach (maquina => { %>
                                <div class="resultRow">
                                    <span class="toggle-button"><h2><%= maquina.nome %></h2></span>
                                    
                                    <ul class="nested">
                                        <li>
                                            <% if (maquina.Categoria && maquina.Categoria.length >0 ) { %>
                                                <% maquina.Categoria.forEach (categoria => { %>
                                                    <div class="resultRow">
                                                        <span class="toggle-button"><h3><%= categoria.nome %></h3></span>
                                                        <% if (categoria.Problemas && categoria.Problemas.length > 0) { %>
                                                            <ul class="nested">
                                                                <% categoria.Problemas.forEach(problema => { %>
                                                                    <li class="resultRow">
                                                                        <%= problema.descricao %>
                                                                    </li>
                                                                <% }) %>
                                                            </ul>
                                                        <% } else { %>
                                                            Sem problemas Cadastrados no Sistema
                                                        <% } %>
                                                    </div>
                                                <% }); %>
                                            <% } else { %>
                                                Sem Defeitos Cadastrados no Sistema
                                            <% } %>
                                        </li>
                                    </ul>
                                </div>
                            <% }); %>
                        <% } else { %>
                            Sem Maquinas cadastradas no Sistema
                        <% } %>
                    </div>
                <% }) %>
        <% } else { %>
            Sem maquinas cadastradas no Sistema
        <% } %>
    </div>

    <script>
        async function manualMaqs() {
            try {
                const response = await fetch('/api/manual_maqs'); // Endpoint para obter os dados
                const manualMaqs = await response.json(); // Convertendo a resposta para JSON
    
                // Função para atualizar a exibição conforme as seleções nas listas suspensas
                function updateDisplay() {
                    const setorSelecionado = document.getElementById('opcoes-setores').value;
                    const maquinaSelecionada = document.getElementById('opcoes-maquinas').value;
    
                    const resultadosContainer = document.querySelector('.results');
                    resultadosContainer.innerHTML = ''; // Limpar resultados anteriores
    
                    manualMaqs.forEach(setor => {
                        if (setor.nome === setorSelecionado) {
                            const setorElement = document.createElement('div');
                            setorElement.classList.add('resultRow');
                            setorElement.innerHTML = `<h1>${setor.nome}</h1>`;
    
                            if (setor.Maquinas && setor.Maquinas.length > 0) {
                                setor.Maquinas.forEach(maquina => {
                                    
                                        const maquinaElement = document.createElement('div');
                                        maquinaElement.classList.add('resultRow');
                                        maquinaElement.innerHTML = `<h2>${maquina.nome}</h2>`;
    
                                        if (maquina.Categoria && maquina.Categoria.length > 0) {
                                            maquina.Categoria.forEach(categoria => {
                                                const categoriaElement = document.createElement('div');
                                                categoriaElement.classList.add('resultRow');
                                                categoriaElement.innerHTML = `<h3>${categoria.nome}</h3>`;
    
                                                const problemasList = document.createElement('ul');
                                                if (categoria.Problemas && categoria.Problemas.length > 0) {
                                                    categoria.Problemas.forEach(problema => {
                                                        const problemaElement = document.createElement('li');
                                                        problemaElement.classList.add('resultRow');
                                                        problemaElement.textContent = problema.descricao;
                                                        problemasList.appendChild(problemaElement);
                                                    });
                                                } else {
                                                    const semProblemasElement = document.createElement('p');
                                                    semProblemasElement.textContent = 'Sem problemas cadastrados';
                                                    problemasList.appendChild(semProblemasElement);
                                                }
    
                                                categoriaElement.appendChild(problemasList);
                                                maquinaElement.appendChild(categoriaElement);
                                            });
                                        } else {
                                            const semCategoriasElement = document.createElement('p');
                                            semCategoriasElement.textContent = 'Sem categorias cadastradas';
                                            maquinaElement.appendChild(semCategoriasElement);
                                        }
    
                                        setorElement.appendChild(maquinaElement);
                                    
                                });
                            } else {
                                const semMaquinasElement = document.createElement('p');
                                semMaquinasElement.textContent = 'Sem máquinas cadastradas';
                                setorElement.appendChild(semMaquinasElement);
                            }
    
                            resultadosContainer.appendChild(setorElement);
                        }
                    });
                }
    
                // Event listeners para os eventos de mudança nas listas suspensas
                const opcoesSetores = document.getElementById('opcoes-setores');
                const opcoesMaquinas = document.getElementById('opcoes-maquinas');
    
                opcoesSetores.addEventListener('change', updateDisplay);
                opcoesMaquinas.addEventListener('change', updateDisplay);
    
               
    
            } catch (error) {
                console.error('Erro ao carregar dados:', error);
            }
        }
    
        // Executar a função quando a janela for carregada
        window.onload = manualMaqs;
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var toggles = document.querySelectorAll('.toggle-button');

            toggles.forEach(function(toggle) {
                toggle.addEventListener('click', function() {
                    var nestedList = this.nextElementSibling;
                    if (nestedList.style.display === 'block') {
                        nestedList.style.display = 'none';
                    } else {
                        nestedList.style.display = 'block';
                    }
                });
            });
        });
    </script>
    
</body>
</html>