<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual de Máquinas</title>
</head>
<body>
    <h1>Manual de Máquinas</h1>

    <input type="text" id="searchQuery" placeholder="Pesquise umá máquina ou defeito." name="q">

    <label for="opcoes-setores">Selecione um Setor</label>
    <select name="opcoes-setores" id="opcoes-setores">
        <% if (manualMaqs && manualMaqs.length > 0) { %>
            <% manualMaqs.forEach (setor => { %>
                <option value="<%= setor.nome %>"><%= setor.nome %></option>
            <% }) %>
        <% } %>
    </select>
    <label for="opcoes-maquinas">Selecione uma Máquina</label>
    <select name="opcoes-maquinas" id="opcoes-maquinas">
        <% if (manualMaqs && manualMaqs.length > 0) { %>
            <% manualMaqs.forEach (setor => { %>
                <% if (setor.Maquinas && setor.Maquinas.length > 0) {%>
                    <% setor.Maquinas.forEach(maquina => { %>
                        <option value="<%= maquina.nome %>"><%= maquina.nome %></option>
                    <% }) %>
                <% } %>
            <% }) %>
        <% } %>
    </select>

    <div class="results">
        <% if (manualMaqs && manualMaqs.length > 0) { %>
                <% manualMaqs.forEach (setor => { %>
                    <div class="resultRow">
                        <h1><%= setor.nome %></h1>
                        
                        <% if (setor.Maquinas && setor.Maquinas.length > 0) { %>
                            <% setor.Maquinas.forEach (maquina => { %>
                                <div class="resultRow">
                                    <h2><%= maquina.nome %></h2>
                                    <% if (maquina.Categoria && maquina.Categoria.length >0 ) { %>
                                        <% maquina.Categoria.forEach (categoria => { %>
                                            <div class="resultRow">
                                                <h3><%= categoria.nome %></h3>
                                                <% if (categoria.Problemas && categoria.Problemas.length > 0) { %>
                                                    <ul>
                                                        <% categoria.Problemas.forEach(problema => { %>
                                                            <li class="resultRow">
                                                                <%= problema.descricao %>
                                                            </li>
                                                        <% }) %>
                                                    </ul>
                                                <% } else { %>
                                                    Sem problemas Cadastrados no Sistema
                                                <% } %>
                                            </div>
                                        <% }); %>
                                    <% } else { %>
                                        Sem Defeitos Cadastrados no Sistema
                                    <% } %>
                                </div>
                            <% }); %>
                        <% } else { %>
                            Sem Maquinas cadastradas no Sistema
                        <% } %>
                    </div>
                <% }) %>
        <% } else { %>
            Sem maquinas cadastradas no Sistema
        <% } %>
    </div>

    <script>
        const pesquisa = document.getElementById("searchQuery")
        pesquisa.addEventListener("input", function(e) {
            const valorPesquisado = e.target.value
            console.log(valorPesquisado)
        })

        const results = document.getElementsByClassName("resultRow")
    </script>
</body>
</html>